@model Restaurant.Entities.Precuenta

<h2>Precuenta del Pedido @Model.PedidoId</h2>

<table class="table table-bordered">
    <tr>
        <th>SubTotal</th>
        <td>@Model.SubTotal.ToString("N2")</td>
    </tr>
    <tr>
        <th>Descuento</th>
        <td>@Model.Descuento.ToString("N2")</td>
    </tr>
    <tr>
        <th>Impuesto</th>
        <td>@Model.Impuesto.ToString("N2")</td>
    </tr>
    <tr>
        <th>Recargo</th>
        <td>@Model.Recargo.ToString("N2")</td>
    </tr>
    <tr>
        <th>Total</th>
        <td><strong>@Model.Total.ToString("N2")l</strong></td>
    </tr>
</table>

<a asp-controller="Pedidos" asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
